.login {
  height: 100vh;
  background-color: rgb(251, 197, 37);
  display: flex;
  align-items: center;
  justify-content: center;
  .card {
    width: 60%;
    display: flex;
    background-color: white;
    border-radius: 10px;
    min-height: 600px;
    overflow: hidden;
    .left {
      flex: 1;
      background: linear-gradient(
          rgba(255, 0, 0, 0.343),
          rgba(187, 12, 70, 0.303)
        ),
        url("https://images.pexels.com/photos/6224711/pexels-photo-6224711.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2ß")
          center;
      background-size: cover;
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      color: white;
      h1 {
        font-size: 100px;
        line-height: 100px;
      }
      p {
      }
      span {
        font-size: 14px;
      }
      button {
        width: 50%;
        padding: 10px;
        border: none;
        font-weight: bold;
        cursor: pointer;
      }
    }
    .right {
      flex: 1;
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 50px;
      h1 {
      }
      form {
        display: flex;
        flex-direction: column;
        gap: 30px;
        input {
          border: none;
          border-bottom: 1px solid lightgray;
          padding: 20px 10px;
        }
        button {
          width: 50%;
          padding: 10px;
          border: none;
          font-weight: bold;
          cursor: pointer;
        }
      }
    }
  }
}
